.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #608c8d 50%,  #a8f8f8 50%);
  position: absolute;
}

.planetLogin-image {
  position: absolute;
  top: 0; 
  left: 0; 
  width: auto; 
  height: 100vh; 
  object-fit: cover; 
}

.nombre-image {
  position: absolute;
  top: 2%;
  left: 2%;
  height: 10%;
}

.contenedor {
  padding: 40px;
  border-radius: 5px;
  background-color: rgba(218, 220, 221, 0);
  text-align: left;
  margin-top: 20px;
  margin-left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-group {
  margin-bottom:2rem;
  width: 100%;
  max-width: 300px; 
  min-height: 5rem;  
}

label {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
  color: #f7ec54;
  text-shadow: 2px 1px 1px #4e4e4e; 
}

.hola {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 4rem;
  padding-bottom: 20%;
  color: #4e4e4e;
  text-shadow: 2px 1px 1px #f5d313; 
  text-align: center;
  
}

.login-input {
  height: 1.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid #2d2d2e00;
  border-radius: 5px;
  width: 100%;
  background-color: rgba(246, 248, 248, 0.486); 
}

.error-message {
  color: #ff0000;
  font-size: 0.8rem;
  margin-top: 0.2rem;
  height: 1.5rem; 
  padding: 0.2rem; 
  visibility: hidden; 
  overflow: hidden; 
  transition: visibility 0.5s, height 1s; 
  position: fixed;
}

.error-message.active {
  visibility: visible; 
  height: 1.5rem;
  
}

.login-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  /* background-color: #02fdf1ec;
  color: #525252; */
  color: rgb(248, 246, 246);
  background-color: #3c3d3ccb;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid #2d2d2e00;
  margin-top: 1rem; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

.login-button:hover {
  /* color: rgb(248, 246, 246);
  background-color: #3c3d3ccb; */
  background-color: #02fdf1ec;
  color: #525252;
  border: 2px solid #2d2d2e00;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Saltar-button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  color: rgb(248, 246, 246);
  background-color: #3c3d3ccb;
  cursor: pointer;
  border-radius: 50%; 
  width: 20vw; 
  height: 20vw; 
  max-width: 90px; 
  max-height: 90px; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem; 
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
  right: 3%;
  bottom: 5%;
}

.Saltar-button:hover {
  position: absolute;  
  cursor: pointer;
  border-radius: 50%; 
  width: 20vw; 
  height: 20vw; 
  max-width: 90px; 
  max-height: 90px; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #02fdf1ec;
  color: #525252;
  font-size: 1rem; 
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
  right: 3%;
  bottom: 5%;
}

@media (max-width: 768px) {
  .login-container {
    align-items: flex-start;
  }

  .planetLogin-image {
    height: 20vh;
    width: 100%;
  }

  .contenedor {
    margin-left: 2%;
  }

  .nombre-image{
    height: 13vh;
    margin-top: 0;
  }
}