.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(178, 183, 184);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -2;
}


.enter-button-landing {
  padding: 1rem 2rem;
  font-size: 1.1rem;
  background-color: #fffcfc23;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.658);
}

.enter-button-landing:hover {
  background-color: #fcf9f900;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.658);
  transform: scale(1.1);
}

.primavera,
.verano,
.otoño,
.invierno {
  width: 100vw;
  height: 100vh;
  background-size: 100% 115%; 
  background-position: center center;
  background-repeat: no-repeat;
}

.primavera {
  background-image: url("../assets/nubesLogin2.jpg");
}

.verano {
  background-image: url("../assets/otoño.png");
}

/* .otoño .modal-content {
  width: 50vw;
  height: 50vh; */
  /* background-image: url("../assets/otoño.png"); */
 /*  background-color: rgb(228, 226, 224);
  background-size: cover; 
  background-position: center; 
  border-radius: 1%;
  z-index: 9999;
} */

.invierno {
  background-image: url("../assets/nubesLogin2.jpg");
}
 
.fraseLanding {
  position: fixed;
  color: #dee0e0;
  font-size: 60px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 2px 1px 1px #4e4e4e; 
  width: 30%;
  margin-left: -25%;
  z-index: 1;
}

.fotoPedro {
  position: absolute;
  top: 30%;
  left: 65%;
  box-shadow: 2px 2px 1px #4d4d4d;  
  object-fit: cover; /* Ajusta el comportamiento de la imagen */
  
} 

.cua {
  position: absolute;
  width: 22%;
  margin-left: 17%;
  margin-top: -8%;
}

.cuadros {
position: absolute;
margin-top: 6%;
margin-left: 33%;
width: 40%;
}

/* .lineas {
  position: absolute;
  width: 28%;
  margin-left: 47%;
  margin-top: -21%;
} */

/* .lineaLoca {
  position: absolute;
  margin-left: -35%;
  margin-top: 18%;
}

.lineaLocaBlanca {
  position: absolute;
} */





/*  .modal-title {
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  color: #646363;
  font-size: 1vw;
 }

 .modal-body {
  font-size: 1vw;
  color: #646363;
 }
 */
 