.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(15, 190, 196);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
}


.enter-button-landing {
  padding: 1rem 2rem;
  font-size: 1.1rem;
  background-color: #fffcfc23;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.658);
}

.enter-button-landing:hover {
  background-color: #fcf9f900;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.658);
  transform: scale(1.1);
}

.primavera,
.verano,
.otoño,
.invierno {
  width: 100vw;
  height: 100vh;
  background-size: 100% 115%; 
  background-position: center center;
  background-repeat: no-repeat;
}

.primavera {
  background-image: url("../assets/nubesLogin2.jpg");
}

.verano {
  background-image: url("../assets/otoño.png");
}

.otoño .modal-content {
  width: 50vw;
  height: 50vh;
  /* background-image: url("../assets/otoño.png"); */
  background-color: rgb(228, 226, 224);
  background-size: cover; 
  background-position: center; 
  border-radius: 1%;
  z-index: 9999;
}

.invierno {
  background-image: url("../assets/nubesLogin2.jpg");
}
 
.fraseLanding {
  position: fixed;
  color: #01f80d;
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 2px 1px 1px #4e4e4e; 
}

 .modal-title {
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  color: #646363;
  font-size: 1vw;
 }

 .modal-body {
  font-size: 1vw;
  color: #646363;
 }

 