.desplegable {
  background: rgba(80, 79, 79, 0.801);
  position: fixed; /* Ancla la barra en la parte superior */
  top: 0; /* Coloca la barra en la parte superior de la pantalla */
  left: 0; /* Ancla la barra en el lado izquierdo */
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  display: flex; /* Agrega display flex para alinear los elementos */
  justify-content: flex-end; /* Distribuye los elementos a lo largo de la barra */
  align-items: center;  
  padding: 10px; /* Añade espaciado interior para los elementos dentro de la barra */
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .barras {
    display: none;
  }

  .redirigirAInicio {
    cursor: pointer;
    margin-right: auto; 
    margin-left: 30px; 
    max-height: 40px;
    max-width: 40px; /* Ajusta el ancho máximo de la imagen a tu preferencia */
    height: auto;
  }
  
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
  }
  
  li {
    list-style: none;
    margin-right: 30px;  
     
  }

  /* .desplegable ul li a {
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 5);   
  }
   */
  nav a{
    color: rgb(250, 247, 247);
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    padding: 10px;
    display: block;
  }
  
  ul li a:hover {
    background: rgba(210, 105, 30, 0);
    color: rgb(238, 203, 4);
  }
  
  @media(max-width: 850px){
    .barras{
        background: cornflowerblue;
        display: block;
    }
  
    .desplegable {
        transform:  translate(-100%);
        transition: 0.5s;
        font-size: 1.5rem;
        width: 50%;
        background: rgba(red, green, blue, alpha);
    }
  
    ul {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
  
    button {
        margin: 10px;
        border: none;
    }
  
    li a {
        padding: 20px;
        display: block;
        text-align: left;
    }
  
    .boton_menu {
        background-image: url('../assets/iconoMenuSinFondo.png');        
        background-repeat: no-repeat;
        height: 30px;
        width: 30px;
        background-size: 30px;
        background-position: center;
    }
  
    .abrir_menu {
        transform: translate(0%);
        transition: 0.5s;
        width: 50%;
        background: rgba(30, 30, 30, 0.6);
        backdrop-filter: blur(2px);
    }
  
    .colocar_x {
        background-image: url('../assets/cerrarSinFondo.png');        
        background-repeat: no-repeat;
        height: 30px;
        width: 30px;
        background-size: 30px;
        background-position: center;
    }
  }
  
  @media(max-width: 500px){
    .desplegable{
        width: 100%;
        font-size: 1.6rem;
    }
  }
  
  