.contacto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #030810 68%, #0b0b0b 32%);    
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
}

.container.p-4 {
  margin-top: 7%;
  margin-right: 28%;
}

.form-control {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 10px;
  padding: 5px;
  font-size: 18px;
  border: 1px solid #11b6b600;
  border-radius: 5px;
  text-align: left;
  width: 50%;
  box-sizing: border-box;
  height: 50px;
  background-color: #04b8b870; 
  color: #e7e6e6;
}

.formControlMensaje {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 10px;
  padding: 5px;
  font-size: 18px;
  border: 1px solid #11b6b600;
  border-radius: 5px;
  text-align: left;
  width: 50%;
  box-sizing: border-box;  
  height: 150px;
  background-color: #33bebe70; 
  color: #e7e6e6;
}

.texto-encabezado {
  width: 50%;
  margin-left: 25%;
}

.titulo {
  color: #aaaaaa;
  text-shadow: 2px 1px 1px  #f6f7f3;  
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2.5rem;
}

.sub-titulo {
  color: #b6b6b6;
}

.btnEnviar {
  padding: 0.5rem 1.7rem;
  font-size: 1rem;
  color: rgb(61, 60, 60);
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(2, 150, 155, 0);
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid #2d2d2e00;
  margin-top: .5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.btnEnviar:hover {
  background-color: rgba(248, 73, 4, 0);
  color: rgb(255, 254, 255);
  border: 2px solid #2d2d2e00;
  box-shadow: 0 0 15px rgb(2, 150, 155);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}


.linkedin {
  position: absolute;
  right: 14%; 
  top: 32%; 
  transform: translateY(-50%);
  height: 40px;
  transition: transform 0.3s ease; 
}
.linkedin:hover {
  transform: translateY(-50%) scale(1.2);
}

.github {
  position: absolute;
  right: 14%; 
  top: 50.2%; 
  transform: translateY(-50%);
  height: 40px;
  transition: transform 0.3s ease; 
}
.github:hover {
  transform: translateY(-50%) scale(1.2);
}

.whatsapp {
  position: absolute;
  right: 14%; 
  top: 68%; 
  transform: translateY(-50%);
  height: 40px;
  transition: transform 0.3s ease; 
}
.whatsapp:hover {
  transform: translateY(-50%) scale(1.2);
}

.gmail {
  position: absolute;
  right: 13.5%; 
  top: 84%; 
  transform: translateY(-50%);
  height: 40px;
  transition: transform 0.3s ease; 
}

.gmail:hover {
  transform: translateY(-50%) scale(1.2);
}
