body {
  width: 100%;
  height: 100%;
  background: #091933;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.contacto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;  
  z-index: -1;
}

.container.p-4 {
  margin-top: 7%;
}

.form-control {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 10px;
  padding: 5px;
  font-size: 18px;
  border: 1px solid #11b6b600;
  border-radius: 5px;
  text-align: left;
  width: 50%;
  box-sizing: border-box;
  height: 50px;
  background-color: #04b8b870;
  color: #e7e6e6;
}

.formControlMensaje {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 10px;
  padding: 5px;
  font-size: 18px;
  border: 1px solid #11b6b600;
  border-radius: 5px;
  text-align: left;
  width: 50%;
  box-sizing: border-box;
  height: 150px;
  background-color: #33bebe70;
  color: #e7e6e6;
}

.texto-encabezado {
  width: auto;
  align-items: center;
}

.titulo {
  color: #aaaaaa;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2.5rem;
}

.sub-titulo {
  color: #f3f3f3;
}

.btnEnviar {
  padding: 0.7rem 1.7rem;
  font-size: 0.8rem;
  color: #04b8b8;
  background-color: #242923;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 10vw;
}

.btnEnviar:hover {
  color: #04b8b8;
  background-color: #242923;
  box-shadow: 0 0 15px rgba(2, 150, 155, 0);
}

.redes-container {
  position: fixed;
  display: flex;
  flex-direction: row; 
  align-items: flex-end;
  justify-content: flex-end;
  bottom: 0; 
  right: 0;
  padding: 10px;
}

.linkedin,
.github,
.whatsapp,
.gmail {
  height: 40px;
  margin: 20px; 
  transition: transform 0.3s ease;
}

.linkedin:hover,
.github:hover,
.whatsapp:hover,
.gmail:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {

/*   .nombre-image {
    position: absolute;
    
    left: 10%;
    height: 8%;
  } */

  .texto-encabezado {
    margin-top: 20%;
    margin-left: 9%;
    width: 90%;
    text-align:center;
  }

  .titulo {
    font-size: 1.5rem;
  }

  .sub-titulo {
    font-size: 1.2rem;
  }

  .btnEnviar {
    margin-right: 1%;
    margin-left: 8%;
    width: 90%;
  }

  .container.p-4 {
    margin-top: 7%;
    margin-right: 6% ; 
    margin-left: 1%;
    width: auto;
  }

   
  .form-control {    
    width: 100%;    
  }
  
  .formControlMensaje {    
    width: 100%;        
  }

  .redes-container {
    position:relative;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: flex-end;
    bottom: 2%; 
    top: 2%;
    right: 0;    
  }

  .linkedin,
  .github,
  .whatsapp,
  .gmail {
    padding: 3vw;
    margin-top: 3%;
    margin-bottom: 10%;
    height: 40px;
    transition: transform 0.3s ease;
    margin: auto;
  }


}
