.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #022f4d  ;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -2;
}

.nombre-image {
  position: absolute;
  top: 2%;
  left: 10%;
  height: 12%;
}


.fraseLanding {
  color: #f1f1f1;
  font-size: 1.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 40%;
  margin-top: 6%;
  text-align: left;
  z-index: 1;
}

.destacado {
  color: #aaaaaa;
  font-weight:lighter;
}


.foto-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.fotoPedro {
  width: 80vw;
  max-width: 300px;  
  box-shadow: 2px 2px 8px 4px #0d0e0e;
  object-fit: cover;
  filter: brightness(0.1);
  transition: filter 0.3s ease;
  box-shadow: 0 0 5px rgb(5, 5, 5);
  border-radius: 1%; 
  align-items: center;
}

.light {
  padding: 0.7rem 1.7rem;
  font-size: 0.8rem;
  color: #04b8b8;
  background-color: #242923;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  width: 10vw;  
}

.light:hover {
  color: #04b8b8;
  background-color: #242923;
  box-shadow: 0 0 15px rgba(2, 150, 155, 0);
}

.light:hover .arrow{
  color: #f8f6f6;
}

@media (max-width: 768px) {

  .nombre-image {
    position: absolute; 
    top: 1%;   
    left: 10%;
    height: 12%;
  }

  .fraseLanding {
    width: 90%;
    margin-top: 12%;
  }

  .destacado {
    width: 90%;
    margin-top: 18%;
  }

  .fotoPedro {
    margin-top: 1%;
    width: 50vw;
  }

  .light {  
   
    width: 100%;
    position: fixed;
    height: 8%;
    bottom: 0;
    right: 0;
    margin: 0;
    color: #04b8b8;
    background-color: #242923;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  }
}


@media (max-width: 480px) {

  .nombre-image {
    position: absolute;
    top: 1%;
    left: 10%;
    height: 8%;
  }

  .destacado {
    width: 90%;
    margin-top: 18%;
    color: #aaaaaa; 
    font-size: 18px;
  }

  .fotoPedro {
    width: 60vw;
  }

 }