.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #022f4d  ;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -2;
}

.fraseLanding {
  color: #f1f1f1;
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 60%;
  margin-top: 6%;
  z-index: 1;
}

.destacado {
  color: #aaaaaa; 
  margin-left: 10px;
  font-size:2rem;
}

.foto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fotoPedro {
  width: 80vw;
  max-width: 300px;  
  box-shadow: 2px 2px 8px 4px #0d0e0e;
  object-fit: cover;
  filter: brightness(0.1);
  transition: filter 0.3s ease;
  box-shadow: 0 0 5px rgb(5, 5, 5);
  border-radius: 1%;  
}

.light {
  padding: 0.7rem 1.7rem;
  font-size: 1rem;
  color: #04b8b8;
  background-color: #242923;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  width: 10vw;
}

.light:hover {
  color: #04b8b8;
  background-color: #242923;
  box-shadow: 0 0 15px rgba(2, 150, 155, 0);
}



@media (max-width: 768px) {
  .fraseLanding {
    width: 90%;
    margin-top: 18%;
  }

  .destacado {
    width: 90%;
    margin-top: 18%;
  }

  .fotoPedro {
    width: 90vw;
  }

  .light {
    width: 50px;
    height: 50px;
  }
}


@media (max-width: 480px) {
  .fraseLanding {
    font-size: 18px;
    margin-top: 25%;
  }

  .destacado {
    width: 90%;
    margin-top: 18%;
    color: #aaaaaa; 
    margin-left: 10px;
    font-size: 18px;
  }

  .fotoPedro {
    width: 90vw;
  }

  .light {
    width: 40px;
    height: 40px;
    font-size: 0.7rem;
  }
}