.contacto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #b0b0ae 68%,  #393939 32%);    
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
}

.container.p-4 {
  margin-top: 4%;
  margin-right: 8%;
}

.form-control {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 10px;
  padding: 5px;
  font-size: 18px;
  border: 1px solid #11b6b600;
  border-radius: 5px;
  text-align: left;
  width: 50%;
  box-sizing: border-box;
  height: 50px;
  background-color: #edebeb; 
  color: #4e4e4e;
}

.formControlMensaje {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 10px;
  padding: 5px;
  font-size: 18px;
  border: 1px solid #11b6b600;
  border-radius: 5px;
  text-align: left;
  width: 50%;
  box-sizing: border-box;  
  height: 150px;
  background-color: #edebeb; 
  color: #4e4e4e;
}

.texto-encabezado {
  width: 50%;
  margin-left: 25%;
}

.titulo {
  color: #4e4e4e;
  text-shadow: 2px 1px 1px #e8ebeb;
  font-size: 4rem;
}

.sub-titulo {
  color: #686969;
  text-shadow: 2px 1px 1px #e8ebeb;
}

.btnEnviar {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: rgb(248, 246, 246);
  background-color: #4e4e4e;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid #2d2d2e00;
  margin-top: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.btnEnviar:hover {
  background-color: #02fdf1ec;
  color: #525252;
  border: 2px solid #2d2d2e00;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}


.linkedin {
  position: absolute;
  right: 12%; /* Ajusta la distancia desde el borde derecho según tu preferencia */
  top: 32%; /* Centra verticalmente */
  transform: translateY(-50%);
  height: 70px;
  transition: transform 0.3s ease; 
}
.linkedin:hover {
  transform: translateY(-50%) scale(1.2);
}

.github {
  position: absolute;
  right: 12.1%; /* Ajusta la distancia desde el borde derecho según tu preferencia */
  top: 50.2%; /* Centra verticalmente */
  transform: translateY(-50%);
  height: 70px;
  transition: transform 0.3s ease; 
}
.github:hover {
  transform: translateY(-50%) scale(1.2);
}

.whatsapp {
  position: absolute;
  right: 12.2%; /* Ajusta la distancia desde el borde derecho según tu preferencia */
  top: 68%; /* Centra verticalmente */
  transform: translateY(-50%);
  height: 70px;
  transition: transform 0.3s ease; 
}
.whatsapp:hover {
  transform: translateY(-50%) scale(1.2);
}

.gmail {
  position: absolute;
  right: 11.9%; /* Ajusta la distancia desde el borde derecho según tu preferencia */
  top: 84%; /* Centra verticalmente */
  transform: translateY(-50%);
  height: 61px;
  transition: transform 0.3s ease; 
}
.gmail:hover {
  transform: translateY(-50%) scale(1.2);
}
