 .about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #aeb1b1 60%,  #026466  40%);
  background: linear-gradient(to right, #026466 60%,  #aeb1b1 40%);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
}

.contAbout-texto {
  margin-top: 4%;
  width: 45%;
  color: #f5f5f3;  
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.profile-image {
  
  margin-top: 4%;
  margin-left: 18%; 
  z-index: 1;
}

.puntos {
  position: absolute; 
  top: 61%; 
  left: 63%;
  height:100px;
}
.puntitos {
  position: absolute; 
  top: 25%; 
  left: 66%;
  height: 70px;
}
.puntitos2 {
  position: absolute; 
  top: 86%; 
  left: 91%;
  height: 70px;
}
.triangulos {
  position: absolute; 
  top: 16%; 
  left: 89%;
  height: 100px;
}
.cuadrado {
  position: absolute; 
  left: 74%;
  height: 450px;
  margin-top: 11%;
  z-index: 0;
}
