.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  background: linear-gradient(
    to right,
    #787979,
    #787979 20%,
    #aeb1b1 20%,
    #aeb1b1 80%,
    #f7f4f4 80%,
    #f7f4f4
  );
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
  
}

.sections-container {
  margin-top: 15%;  
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.section {
  display: flex; 
  margin-bottom: 10px;
  text-align: center; 
}


.contAbout-texto {
  color: #f5f5f3;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
}

.data {
  flex: 1; 
  max-width: 14%; 
  margin-right: 4%; 
  margin-left: 4%;
}

.info {
  flex: 3; 
  max-width: 80%;
  margin-right: 4%; 
  margin-left: 4%;
  }

.images-container {
  flex: 1;   
  margin-top: 4%;  
  padding: 1%; 
}

.section-divider {
  width: 50%;
  height: 1px;
  background-color: rgb(245, 242, 242);
  margin: 90px 0;   
}
  
 .puntos {
  height: 100px;
  margin-top: -65%;
}

.triangulos {
  position: absolute;
  top: 24%;
  left: 48%;
  height: 100px;
}

.henry {
   height: 45px;
}

.aa2000 {
  height: 70px;
}

.umet {
  height: 70px;
}

.tecnocasa {
  height: 70px;
}

