.login-container {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom right, #022f4d 50%, #012136 50%);
  position: absolute;
  margin: 0;
}

.nombreImage {
  position: absolute;
  top: 5%;
  left: 4%;
  height: 12%;
}

.contenedor {   
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-group {
  margin-bottom: 4rem;
  width: 100%;
}

.hola {  
  font-size: 5rem;
  padding-bottom: 3vw;
  color: #fcfafa;  
}

.login-groupD {
  margin-bottom: 1rem;
  width: 100%;
  max-width: 20vw;
  text-align: left;  
  font-size: 1.8rem;
  color: #aaaaaa;
}

.login-input {
  height: 1.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  width: 100%;
  background-color: #04b8b870; 
  color: #faf8f8;
  border: 1px solid #11b6b600;
  margin-top: 2%;
}

.error-message {
  color: #ff0000;
  font-size: 1rem;
  margin-top: 0.2rem; 
  padding: 0.2rem; 
  visibility: hidden; 
  overflow: hidden; 
  transition: visibility 0.5s, height 1s; 
  position: fixed; 
}

.error-message.active {  
  visibility: visible;   
}

.login-button {
  padding: 0.7rem 1.7rem;
  font-size: 0.8rem;
  color: #04b8b8;
  background-color: #242923;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  width: 10vw;
}

.login-button:hover {  
  color: #04b8b8;
  background-color: #242923;
  box-shadow: 0 0 15px rgba(2, 150, 155, 0);
}


@media (max-width: 780px) {

  .nombreImage {
    top: 10vw;
    left: 50%; 
    transform: translateX(-55%); 
    z-index: 999;
  }  
 
   .hola {
    font-size: 3rem; 
    margin-top: 12vw;
    max-width: none;
    text-align:left;
  }

  .login-groupD {
    font-size: 1rem;
    width: 100%; 
    max-width: none; 
    text-align:left; 
    margin-left: 0;     
  }

  .login-button{
    font-size: 1rem;
    width: 100%;
  }
}

@media (max-width: 480px) {  
   
   .nombreImage {
    top: 10%;
    left: 50%; 
    transform: translateX(-55%); 
    z-index: 999;
  }  

  .login-input {
    margin-top: 5%; 
    width: 60vw;
    align-items: center;
  } 

  .login-button{
    font-size: 1rem;
    width: 100%;
  }

}
