.login-container {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right,  #131313  50%, #0b0b0b  50%);
  position: absolute;
  margin: 0;
}

.planetLogin-image {
  position: absolute;
  top: 0; 
  left: 0; 
  width: auto; 
  height: 100vh; 
  object-fit: cover; 
}

.nombre-image {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 13%;
}

.contenedor {
  padding: 40px;
  border-radius: 5px;
  background-color: rgba(218, 220, 221, 0);
  text-align: left;
  margin-top: 20px;
  margin-left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-group {
  margin-bottom:2rem;
  width: 100%;
  max-width: 300px; 
  min-height: 5rem;  
  color: #4e4e4e;
}

label {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2rem;
  color: #b6b6b6;
}

.hola {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 5rem;
  padding-bottom: 18%;
  color: #aaaaaa;
  text-shadow: 4px 1px 1px  #f6f7f3; 
  text-align: center;  
}

.login-input {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 1.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  width: 100%;
  background-color: #04b8b870; 
  color: #e7e6e6;
  border: 1px solid #11b6b600;
  margin-top: 2%;
}

.error-message {
  color: #ff0000;
  font-size: 0.8rem;
  margin-top: 0.2rem;
  height: 1.5rem; 
  padding: 0.2rem; 
  visibility: hidden; 
  overflow: hidden; 
  transition: visibility 0.5s, height 1s; 
  position: fixed;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.error-message.active {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  visibility: visible; 
  height: 1.5rem;  
}

.login-button {
  padding: 0.7rem 1.7rem;
  font-size: 0.8rem;
  color: rgb(61, 60, 60);
  background-color: #f8f5f5;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid #2d2d2e00;
  margin-top: 1rem; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  margin-left: 13%;
}

.login-button:hover {  
  font-size: 0.8rem;
  background-color: rgba(248, 73, 4, 0);
  color: rgb(255, 254, 255);
  box-shadow: 0 0 15px rgb(2, 150, 155);
  border: 2px solid #2d2e2d00;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Saltar-button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  color: rgb(61, 60, 60);
  background-color: #f8f5f5;
  cursor: pointer;
  border-radius: 5px;   
  padding: 0.8rem 1.2rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
  right: 3%;
  bottom: 5%;
}

.Saltar-button:hover {
  position: absolute;  
  cursor: pointer;
  border-radius: 5px; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(248, 73, 4, 0);
  color: rgb(255, 254, 255);
  box-shadow: 0 0 15px rgb(2, 150, 155);
  font-size: 0.8rem; 
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
  right: 3%;
  bottom: 5%;
}

@media (max-width: 480px) {
  .login-container {
    align-items: flex-start;
  }

  .planetLogin-image {
    height: 20vh;
    width: 100%;
  }

  .contenedor {
    padding: 20px; 
    margin: 0 auto; 
    margin-left: 2%;
  }

  
  .nombre-image {
    height: 10vh;
    top: 0;
    left: 0;
  }

  .hola {
    font-size: 3rem; 
    padding-bottom: 10%; 
  }

  .login-input {
    margin-top: 5%; 
  }

  .Saltar-button {
    width: 15vw;
    height: 15vw;
    max-width: 70px;
    max-height: 70px;
    font-size: 0.8rem;
    right: 5%;
    bottom: 2%;
  }

}
