.about-container {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  height: auto; 
  background: linear-gradient(
    to right,
    #0a2841 ,
    #0a2841  20%, 
    #003c5f  20%, 
    #003c5f  80%, 
    #c9caca 80%, 
    #c9caca 100% 
  );
  position: absolute;
  z-index: -1;
  margin: 0;
}

.sections-container {
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.section {
  display: flex;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 1%;
  align-items: center;
}

.sectionCV {
  display: flex;  
  align-items: center;
  justify-content: center;
  text-align: center;  
}

.ubicacion-container {
  display: flex;
  align-items: center;
}

.ubicacion {
  height: 60px;
  transition: transform 0.3s ease;  
}

.CV {
  height: 130px;
  transition: transform 0.3s ease;
  margin-left: 12vw; 
}

.CV:hover,
.ubicacion:hover {
  transform: scale(1.2);
}

  .section p {
  margin: 0;
  padding: 15px;   
}

.contAbout-texto {
  color: #f5f5f3;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: left;
  margin: 0;
  margin-bottom: 5%;
 }


 .contAbout-textoDesarrollo {
  color: #f5f5f3;
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: left;
  margin: 0;
  margin-bottom: 5%;
 }


.data {
  flex: 1;
  max-width: 12%;
  margin-right: 3vw;
  margin-left: 3vw; 
  margin-bottom: 2%;  
}

.info {
  flex: 3;
  max-width: 75%;
  margin-right: 5vw;
  margin-left: 5vw;
}

.images-container {
  flex: 1;   
  margin-left: 1vw;
  margin-bottom: 3%;
}

.section-dividerCV {
  width: 60%;
  height: 1px;
  background-color: rgb(98, 100, 100);
  border: none;
  margin: 50px 0;
  margin-left: 0;
  margin-top: 1%;
}

.section-divider {
  width: 80%;
  height: 1px;
  background-color: rgb(100, 100, 98);
  border: none;
  margin: 50px 0;
  margin-left: -20%; 
}

.henry {
  height: 40px;
}

.ivba {
  height: 70px;
}

.aa2000 {
  height: 60px;  
}

.umet {
  height: 60px;
}

.tecnocasa {
  height: 60px;  
}


.scroll-button {
  width: 10vw;
  position: fixed; 
  left: 50%; 
  transform: translateX(-50%); 
  bottom: 20px; 
  font-size: 0.8rem;
  color: #04b8b8;
  background-color: #242923;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;  
  margin: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  z-index: 999;
  transition: background-color 0.3s ease;
}

.scroll-button:hover {
  color: #04b8b8;
  background-color: #242923;
  box-shadow: 0 0 15px rgba(2, 150, 155, 0);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.button-clicked .scroll-button {
  background-color: #e1e9e9;
  color: #242923;
}



@media (max-width: 768px) {

  .about-container {    
    background: linear-gradient(
    to bottom,
    #efefef 0%,  /* Inicio del color en la parte superior */
    #efefef 8%,  /* Fin del color en el 5% superior */
    #efefef 8%,  /* Inicio del color en el 5% inferior */
    #efefef 100% /* Fin del color en el 100% inferior */
    );    
  }
  
/*   .about-container {    
    background: #efefef;    
  } */

  .ubicacion {
    height: 40px;
    margin-left: 7vw; 
  
  }
  
  .CV {
    height: 95px;
    margin-left: 1vw; 
    background-image: url(../assets/descargaCVresponsive.png);
    
  }

.section-dividerCV {
  margin: 10%;
}

  .sectionCV {
    margin-bottom: 1%;
    display: flex;  
    align-items: center;
    text-align: center;  
  }

  .sections-container {
    margin-top: 25%;
    padding: 3%;
    align-items: center;
  }

  .section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contAbout-texto { 
    color: #323232;     
    font-size: 1.5rem; 
    text-align: center;  
   }

  .contAbout-textoDesarrollo {
    color: #676666;
    font-size: 1.2rem; 
    text-align:left;
  }

  .info,
  .data,
  .images-container {
    max-width: 100%;
    margin-top: 8%;
  }
  
  .scroll-button {
    width: 100%;
    position: fixed;
    bottom: 1px;    
    height: 8%;
    margin: 0;
    color: #04b8b8;
    background-color: #242923;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  }  

}
