/* trabajo.styles.css */
.background {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100vw;
  height: auto; /* Cambia a auto */
  background: linear-gradient(to right, #030817 50%, #030817 50%);
  position: absolute;
  z-index: -1;
  margin: 0;
}

.containerJob {
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px; /* Espacio entre imágenes */
  justify-content: center;
  align-items: center;
}

.trabajo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
}

.deploy {
  position: relative;
  overflow: hidden;
}

.image-container {
  width: 60%;
}

.image-container.left {
  margin-left: 30px; /* Espacio horizontal entre imágenes */
}

.countries,
.rick,
.castingAppDeploy,
.control,
.comtrol2 {
  max-width: 100%;
  filter: grayscale(100%) brightness(0.1);
  transition: filter 0.3s ease;
}

.countries:hover,
.rick:hover,
.castingAppDeploy:hover,
.control:hover {
  filter: brightness(1);
}
