.background {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100vw;
  height: auto; 
  background: linear-gradient(to right,  #0b0b0b 50%, #0b0b0b 50%);
  position: absolute;
  z-index: -1;
  margin: 0;
}

.containerJob {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center; 
  margin-top: 10%;   
}

.trabajo-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(250, 250, 250, 0);  
  height: 100%; 
}

.deploy {  
  color: #00000000; 
  background-color: #04b8b800;   
}

.deploy:hover {
  color: #242424;
}

.image-row {
  max-width: 50%;
  margin-top: 30%;
  margin-left: 26%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  align-items: center;
}

.image-item {
  flex-basis: calc(25% - 3px); 
  margin-top: 5px;   
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25%;
}

.image-color,
.image-gris {
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.image-gris {
  opacity: 1;
  z-index: 1;
}

.image-color {
  opacity: 0;
  z-index: 2;
}

.image-container:hover .image-gris {
  opacity: 0;
}

.image-container:hover .image-color {
  opacity: 1;
}

.image-container.left {
  max-width: 400px; 
  height: auto;
  margin-right: 20px; 
}

.image-container.right {
  max-width: 400px; 
  height: auto;
  margin-left: 20px; 
}

.image-text {  
  margin-top: 2%; 
  margin-bottom: 2%;
  font-size: 14px;   
  opacity: 0; 
  margin-bottom: 0; 
  color: #dbddda;   
}

.tituloProyectos {
  opacity: 0;
  color: #e6e3e3; 
  font-size: 24px; 
  transition: opacity 0.3s ease, color 0.3s ease, font-size 0.3s ease, transform 0.3s ease; 
 }

.deploy:hover .tituloProyectos {
  opacity: 1;  
 }

.trabajo-container:hover  .tituloProyectos {  
  opacity: 1; 
  transform: scale(1.1);
}

.image-gris-proximamente {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.deploy:hover .image-gris-proximamente {
  filter: none;
}

.excel {
  margin-top: 5%; 
  max-width: 30%;
  filter: grayscale(100%) brightness(0.3);
  transition: filter 0.3s ease, opacity 0.3s ease;
  opacity: 0;  
  transition: transform 0.4s ease;  
}

.excel:hover {
  filter: none; 
}

.excel:hover + .image-text {  
  opacity: 1;  
}

.deploy:hover .excel {  
  opacity: 1; 
  transform: scale(1.5);
}

.sequelize {
  max-width: 25%;
  filter: grayscale(100%) brightness(0.3);
  transition: filter 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  transition: transform 0.4s ease;
}

.sequelize:hover {
  filter: none;
}

.sequelize:hover + .image-text {
  opacity: 1;
}

.deploy:hover .sequelize {  
  opacity: 1; 
  transform: scale(1.5);
}

.formspree {
  max-width: 25%;
  filter: grayscale(100%) brightness(0.3);
  transition: filter 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  transition: transform 0.4s ease;
}

.formspree:hover {
  filter: none;
}

.formspree:hover + .image-text {
  opacity: 1;
}

.deploy:hover .formspree {  
  opacity: 1; 
  transform: scale(1.5);
}

.nodemailer {
  max-width: 25%;
  filter: grayscale(100%) brightness(0.3);
  transition: filter 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  transition: transform 0.4s ease;
}

.nodemailer:hover {
  filter: none;
}

.nodemailer:hover + .image-text {
  opacity: 1;
}

.deploy:hover .nodemailer {  
  opacity: 1; 
  transform: scale(1.5);
}

.js{
  max-width: 22%;
  filter: grayscale(100%) brightness(0.3);
  transition: filter 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  transition: transform 0.4s ease;
}

.js:hover {
  filter: none;
}

.js:hover + .image-text {
  opacity: 1;
}

.deploy:hover .js {  
  opacity: 1; 
  transform: scale(1.5);
}

.react{
  max-width: 20%;
  filter: grayscale(100%) brightness(0.3);
  transition: filter 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  transition: transform 0.4s ease;
}

.react:hover {
  filter: none;
}

.react:hover + .image-text {
  opacity: 1;
}

.deploy:hover .react {  
  opacity: 1; 
  transform: scale(1.5);
}

.htmlIcono {
  max-width: 20%;
  filter: grayscale(100%) brightness(0.3);
  transition: filter 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  transition: transform 0.4s ease;
}

.htmlIcono:hover {
  filter: none;
}

.htmlIcono:hover + .image-text {
  opacity: 1;
}

.deploy:hover .htmlIcono {  
  opacity: 1; 
  transform: scale(1.5);
}

.cssIcono {
  max-width: 20%;
  filter: grayscale(100%) brightness(0.3);
  transition: filter 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  transition: transform 0.4s ease;
}

.cssIcono:hover {
  filter: none;
}

.cssIcono:hover + .image-text {
  opacity: 1;
}

.deploy:hover .cssIcono {  
  opacity: 1; 
  transform: scale(1.5);
}

.bootstrap {
  max-width: 22%;
  filter: grayscale(100%) brightness(0.3);
  transition: filter 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  transition: transform 0.4s ease;
}

.bootstrap:hover {
  filter: none;
}

.bootstrap:hover + .image-text {
  opacity: 1;
}

.deploy:hover .bootstrap {  
  opacity: 1; 
  transform: scale(1.5);
}

.reduxIcono {
  max-width: 20%;
  filter: grayscale(100%) brightness(0.3);
  transition: filter 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  transition: transform 0.4s ease;
}

.reduxIcono:hover {
  filter: none;
}

.reduxIcono:hover + .image-text {
  opacity: 1;
}

.deploy:hover .reduxIcono {  
  opacity: 1; 
  transform: scale(1.5);
}

.nodeJs {
  max-width: 20%;
  filter: grayscale(100%) brightness(0.3);
  transition: filter 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  transition: transform 0.4s ease;
}

.nodeJs:hover {
  filter: none;
}

.nodeJs:hover + .image-text {
  opacity: 1;
}

.deploy:hover .nodeJs {  
  opacity: 1; 
  transform: scale(1.5);
}

.postgreSQL {
  max-width: 25%;
  filter: grayscale(100%) brightness(0.3);
  transition: filter 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  transition: transform 0.4s ease;
}

.postgreSQL:hover {
  filter: none;
}

.postgreSQL:hover + .image-text {
  opacity: 1;
}

.deploy:hover .postgreSQL {  
  opacity: 1; 
  transform: scale(1.5);
}

.express {
  max-width: 22%;
  filter: grayscale(100%) brightness(0.3);
  transition: filter 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  transition: transform 0.4s ease;
}

.express:hover {
  filter: none;
}

.express:hover + .image-text {
  opacity: 1;
}

.deploy:hover .express {  
  opacity: 1; 
  transform: scale(1.5);
}

.footer {
  height: 30vh;
}

.scroll-button {
  position: fixed; 
  left: 50%; 
  transform: translateX(-50%); 
  bottom: 20px; 
  font-size: 0.8rem;
  color: rgb(61, 60, 60);
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(2, 150, 155, 0);
  border: 2px solid #2d2d2e00;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;  
  margin: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.scroll-button:hover {
  background-color: rgba(248, 73, 4, 0);
  color: rgb(255, 254, 255);
  border: 2px solid #2d2d2e00;
  box-shadow: 0 0 15px rgb(2, 150, 155);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}


@media (max-width: 768px) {
  .trabajo-container {
    margin-top: 5%; 
  }

  .containerJob {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center; 
    margin-top: 10%;   
  }

  .image-row {
    max-width: 100%; 
    margin-left: 0; 
    margin-top: 15px; 
  }

  .image-container {
    margin-left: 0; 
  }

  .footer {
    height: auto; 
  }

  .scroll-button {
    bottom: 10px; 
    right: 5%; 
  }
}

